{{#showintro}}
    {{{intro}}}
{{/showintro}}
{{#hasitems}}
<div id="unilabeltype-courseteaser-{{cmid}}" class="carousel slide my-2" data-ride="carousel" data-interval="{{interval}}000">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        {{#items}}
            <li data-target="#unilabeltype-courseteaser-{{cmid}}" data-slide-to="{{nr}}"{{#first}} class="active"{{/first}}></li>
        {{/items}}
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        {{#items}}
            <div class="carousel-item text-center py-4{{#first}} active{{/first}}">
                <a href="{{{courseurl}}}" class="d-block py-3">
                    {{#imageurl}}
                    <div style="width:100%;">
                        <img class="img-fluid" src="{{{imageurl}}}" style="height:100%;object-fit:contain;"/>
                    </div>
                    {{/imageurl}}
                </a>

                <div class="carousel-caption">
                    <a href="{{{courseurl}}}">{{title}}</a>
                </div>

            </div>
        {{/items}}
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#unilabeltype-courseteaser-{{cmid}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        {{! <i class="fa fa-angle-left" style="color:#000000;font-size:40px;font-weight:bold;"> </i> }}
    </a>
    <a class="carousel-control-next" href="#unilabeltype-courseteaser-{{cmid}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        {{! <i class="fa fa-angle-right" style="color:#000000;font-size:40px;font-weight:bold;"> </i> }}
    </a>
</div>
{{/hasitems}}
{{^hasitems}}
<span>{{#str}} nocontent , unilabeltype_courseteaser {{/str}}</span>
{{/hasitems}}
