<canvas id="mapa"></canvas>
{{#js}}
 
require(['jquery'], function($) {
var canvas = document.querySelector('canvas');
var ctx = canvas.getContext('2d');
canvas.style.width ='100%';
canvas.style.height='100%';
canvas.width  = canvas.offsetWidth;
  canvas.width < 995 ? canvas.width = 995 : '';
canvas.height = Math.floor((canvas.offsetWidth * 9) / 16);
  canvas.height < 550 ? canvas.height = 560: '';
var scaleX = (canvas.width / 1024) * 0.9;
var scaleY = (canvas.height / 576) * 0.9;
ctx.scale(scaleX, scaleY);
var timeRemaining = 0;
var count = 0;
var userGrade = 0;
var maxGrade = 0;
var fps = 30;
var xy;
var percent = 0;
var direction = 1;
var lastPath;
var path = 0;
var animationComplete = true;
var buttonClicked;
var pathPrev;
var keyPressed;
var completions = [];
var incompletions = [];
var assignments = [];
var activities = [];
var sizeRect = 170;
var rect = {
  x:(canvas.width / scaleX - sizeRect) / 2,
  y:(canvas.height / scaleY - sizeRect) / 2,
  width:170,
  height:170
};
// Imagens
var spriteLoaded = false;
var playButton; 
var sprite;

var keyCodes = [
  {
    key: 40,
    move: 'DOWN'
  },
  {
    key: 38,
    move: 'UP'
  },
  { 
    key: 37,
    move: 'LEFT'
  },
  {
    key: 39,
    move: 'RIGHT'
  }
];

var stages =[{
  // 0  - 1 (0)
  start: {
    x: 85,
    y: 90
  },
  end: {
    x: 85,
    y: 315
  },
  type:'line',
  moveForward: 'DOWN',
  color: 'red',
  nextPath: 1,
  previousPath: 0
},{ // 1 - 2 (1)
  start: {
    x: 85,
    y: 315
  },
  end: {
    x: 85,
    y: 540
  },
  type:'line',
  moveForward: 'DOWN',
  moveBackwards: 'UP',
  color: 'red',
  nextPath: 2,
  previousPath: 0
},{ // 2 - 3 (2)
  start: {
    x: 85,
    y: 540
  },
  end: {
    x: 350,
    y: 540
  },
  type:'line',
  moveForward: 'RIGHT',
  moveBackwards: 'UP',
  color: 'red',
  nextPath: 3,
  previousPath: 1
},{ // 3 - 4 (3)
  start: {
    x: 350,
    y: 540
  },
  end: {
    x: 350,
    y: 385
  },
  type:'line',
  moveForward: 'UP',
  moveBackwards: 'LEFT',
  moveForwardTwo: 'RIGHT',
  color: 'red',
  nextPath: 4,
  nextPathTwo: 5,
  previousPath: 2
},{ // 4 - 7 (4)
  start: {
    x: 350,
    y: 385
  },
  end: {
    x: 560,
    y: 385
  },
  type:'line',
  moveForward: 'RIGHT',
  moveBackwards: 'DOWN',
  color: 'red',
  nextPath: 7,
  previousPath: 3
},{ // 3 - 5 (5)
  start: {
    x: 350,
    y: 540
  },
  end: {
    x: 560,
    y: 540
  },
  type:'line',
  moveForward: 'RIGHT',
  moveBackwards: 'LEFT',
  color: 'red',
  nextPath: 6,
  previousPath: 3
},{ // 5 - 6 (6)
  start: {
    x: 560,
    y: 540
  },
  end: {
    x: 560,
    y: 385
  },
  type:'line',
  moveForward: 'UP',
  moveBackwards: 'LEFT',
  color: 'red',
  nextPath: 7,
  previousPath: 5
},{ // 6 -7 (7)
  start: {
    x: 560,
    y: 385
  },
  control1: {
    x: 580,
    y: 225
  },
  control2: {
    x: 225,
    y: 400
  },
  end: {
    x: 240,
    y: 220
  },
  type:'cubic',
  moveForward: 'UP',
  moveBackwards: 'DOWN',
  moveBackwardsTwo: 'LEFT',
  color: 'red',
  nextPath: 8,
  previousPath: 6,
  previousPathTwo: 4
},{ // 7 -8 (8)
  start: {
    x: 240,
    y: 220
  },
  end: {
    x: 240,
    y: 90
  },
  type:'line',
  moveForward: 'UP',
  moveBackwards: 'DOWN',
  color: 'red',
  nextPath: 9,
  previousPath: 7
},
{ // 8 -9 (9)
  start: {
    x: 240,
    y: 90
  },
  end: {
    x: 583,
    y: 90
  },
  type:'line',
  moveForward: 'RIGHT',
  moveBackwards: 'DOWN',
  color: 'red',
  nextPath: 10,
  previousPath: 8
}, { // 9 (10)
  start: {
    x: 583,
    y: 90
  },
  end: {
    x: 583,
    y: 90
  },
  type: 'line',
  moveBackwards: 'LEFT',
  color: 'red',
  previousPath: 9,
  nextPath: 10
}];
var sites;
// Map logic
function animate(){
    draw(percent, path);
    percent += direction;
}

function animateForward(endingPoint) {
  animate();
  if (percent === 100){
    return saveVars(stages[path].nextPath);
  }
  window.requestAnimationFrame(animateForward);
}

function animateBackwards(){
  animate();
  if (percent === 0){
    if(path === 5)path = 3;
    return saveVars(path);
  }
  window.requestAnimationFrame(animateBackwards);
}

window.requestAnimationFrame = (function(){
  return  window.requestAnimationFrame       ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame    ||
          window.msRequestAnimationFrame     ||
          function(callback){
            window.setTimeout(callback, 1000 / fps);
          };
})();


// draw the current frame based on sliderValue
function draw(sliderValue, path) {

  // redraw path
  drawPath();
  drawGrades();
  drawTime(getTime(timeRemaining));
  var percent = sliderValue / 100;
  if (stages[path].type === 'line') {
    xy = getLineXYatPercent(stages[path].start, stages[path].end, percent);
  }
  else if (stages[path].type === 'quadratic') {
    xy = getQuadraticBezierXYatPercent(stages[path].start, stages[path].control, stages[path].end, percent);
  }
  else if (stages[path].type === 'cubic')  {
    xy = getCubicBezierXYatPercent(stages[path].start, stages[path].control1, stages[path].control2, stages[path].end, percent);
  }
  drawSprite(xy);
}

function drawGrades(){
  ctx.font = "20px Arial";
  ctx.clearRect(600, 25, 300, 35);
  ctx.fillText("Nota: " + userGrade + "/" + maxGrade , 600, 50);
}

function drawTime(time){
  ctx.font = "20px Arial";
  ctx.clearRect(600, 60, 300, 25);
  ctx.fillText("Tempo restante: " + time.days + "dias " + time.hours + "h " + time.minutes + "min" + time.seconds + "s", 600, 80, 300);
}

function drawTimer(){
  if(!timer){
    var timer = setInterval(function() {
        let {days, hours, minutes, seconds} = getTime(timeRemaining);
        ctx.font = "20px Arial";
        ctx.clearRect(600, 60, 300, 25);
        ctx.fillText("Tempo restante: " + days + "dias " + hours + "h " + minutes + "min" + seconds + "s", 600, 80, 300);
    }, 1000);
  }
}

// draw sprite on xy
function drawSprite(point) {
  var cellWidth = 100;
  var cellHeight = 150;
  var currentCell = findSpriteCell();
  if (spriteLoaded)
  ctx.drawImage(sprite, currentCell.x * cellWidth, currentCell.y * cellHeight, cellWidth, cellHeight, point.x - 10, point.y - 25, 20, 30);
}

function findSpriteCell (){
  var currentCell = {x: 0 , y: 0};
  if (percent != 0){
    currentCell.x = findSpriteCellX();
    currentCell.y = findSpriteCellY();
  }
  return currentCell;
}

function findSpriteCellY(){
  var index = keyCodes.map(function(obj) { return obj.move; }).indexOf(keyPressed);
  if (path === 7 && 85 > percent && 15 < percent){
    if(keyPressed === 'DOWN') index = 3;
    if(keyPressed === 'UP') index = 2;
  }
  return index != -1 ? index : 0;
}

function findSpriteCellX(){
  var velocity = 4;
  count++;
  count %= (4 * velocity);
  return Math.floor(count / velocity);
}

// path: percent is 0-1
function getLineXYatPercent(startPt, endPt, percent) {
  var dx = endPt.x - startPt.x;
  var dy = endPt.y - startPt.y;
  var X = startPt.x + dx * percent;
  var Y = startPt.y + dy * percent;
  return ({ x: X, y: Y });
}

// quadratic bezier: percent is 0-1
function getQuadraticBezierXYatPercent(startPt, controlPt, endPt, percent) {
  var x = Math.pow(1 - percent, 2) * startPt.x + 2 * (1 - percent) * percent * controlPt.x + Math.pow(percent, 2) * endPt.x;
  var y = Math.pow(1 - percent, 2) * startPt.y + 2 * (1 - percent) * percent * controlPt.y + Math.pow(percent, 2) * endPt.y;
  return ({ x: x, y: y });
}

// cubic bezier percent is 0-1
function getCubicBezierXYatPercent(startPt, controlPt1, controlPt2, endPt, percent) {
  var x = CubicN(percent, startPt.x, controlPt1.x, controlPt2.x, endPt.x);
  var y = CubicN(percent, startPt.y, controlPt1.y, controlPt2.y, endPt.y);
  return ({ x: x, y: y });
}

// cubic helper formula at percent distance
function CubicN(pct, a, b, c, d) {
  var t2 = pct * pct;
  var t3 = t2 * pct;
  return a + (-a * 3 + pct * (3 * a - a * pct)) * pct
    + (3 * b + pct * (-6 * b + b * 3 * pct)) * pct
    + (c * 3 - c * 3 * pct) * t2
    + d * t3;
}


function isInside(pos, rect){
  return pos.x > rect.x && pos.x < rect.x+rect.width && pos.y < rect.y+rect.height && pos.y > rect.y;
}

// Draws the path so the user can see
function drawPath () {
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  ctx.lineWidth = 5;
  for (var i = 0; i < stages.length; i++) { 
    ctx.beginPath();
    ctx.moveTo(stages[i].start.x, stages[i].start.y);
    ctx.strokeStyle = stages[i].color;
    if(stages[i].type === 'line'){
      ctx.lineTo(stages[i].end.x, stages[i].end.y);
    }else if (stages[i].type === 'quadratic'){
      ctx.quadraticCurveTo(stages[i].control.x, stages[i].control.y, stages[i].end.x, stages[i].end.y);
    }else if (stages[i].type === 'cubic'){
      ctx.bezierCurveTo(stages[i].control1.x, stages[i].control1.y, stages[i].control2.x,
        stages[i].control2.y, stages[i].end.x, stages[i].end.y);
    }
    ctx.stroke();
  }
  drawArcs();
}

function drawArcs() {
  for (var i = 0; i < stages.length; i++) { 
    ctx.beginPath();
    ctx.arc(stages[i].start.x, stages[i].start.y, 10, 0, 2 * Math.PI);
    ctx.moveTo(stages[i].start.x, stages[i].start.y);
    ctx.fillStyle = findColor(i);
    ctx.fill();
  }
}

function colorPaths(){
  for (var i = 0; i < lastPath; i++){
    stages[i].color = 'green';
  }
  if(stages[3].color === 'green'){
    stages[5].color = 'green';
  }   
}

function findColor(stage){
  if(stage === 5) stage = 3;
  if(stage > 5 && stage < 11) stage--;
  var activitiesOnSection = activities.filter(function(e){ return e.section === stage;});
  return filterByActivity(activitiesOnSection);
}

function filterByActivity(activities){
  var filtered = activities.filter(function(e) { return e.completion === '0'});
  if(filtered.length > 0) return 'red';
  filtered = activities.filter(function(e) { return e.completion === 'submitted'});
  if(filtered.length > 0) return 'blue';
  filtered = activities.filter(function(e) { return e.completion === '3'});
  if(filtered.length > 0) return 'orange';
  filtered = activities.filter(function(e) { return e.completion === '2'});
  if(filtered.length > 0) return 'green';
  filtered = activities.filter(function(e) { return e.completion === '1'});
  if(filtered.length > 0) return 'green';
  return 'green';
}

function changePath(progress, directions, nextPath){
  pathPrev = path;
  path = nextPath;
  animationComplete = false;
  direction = directions;
  percent = progress;
}

function enterKeyEvent(){
    var topicNumber;
    path > 5 ? topicNumber = path - 1 : topicNumber = path;
    if(topicNumber === 0){
      alert('Você já está aqui, aperte > para progredir no mapa');
      return false;
    }
    var activity = 0;
    var site = incompletions.filter(function(obj) { return obj.section === topicNumber;});
    if(site.length === 0){
      site = sites.filter(function(obj) { return obj.section === topicNumber;});
      activity = completions[topicNumber] - 1;
    }
    if(site.length > 0) openPopUpCenter(site[activity].section);
}

function progressForward(){
  changePath(0, 1, path);
  animateForward();
}

function progressBackwards(previousPath){
  changePath(100, -1, previousPath);
  animateBackwards();
}

function progressForwardTwo(nextPath){
  changePath(0, 1, nextPath);
  animateForward();
}

function arrowKeyEvents(index){

  keyPressed = keyCodes[index].move;
  if (path < lastPath){
    if(stages[path].moveForward === keyPressed){
      progressForward();
    }
    if(stages[path].moveForwardTwo === keyPressed){
      progressForwardTwo(stages[path].nextPathTwo);
    }
  }
  if(stages[path].moveBackwards === keyPressed){
    progressBackwards(stages[path].previousPath);
  }
  if(stages[path].moveBackwardsTwo === keyPressed){
    progressBackwards(stages[path].previousPathTwo);
  }
}

function keyEvents(e){
  e.preventDefault();
    if(buttonClicked && animationComplete){
      if (e.keyCode === 13){
        enterKeyEvent();
      }
      var index = keyCodes.map(function(obj) { return obj.key; }).indexOf(e.keyCode);
      if(index >= 0) {
        arrowKeyEvents(index);
      }
   }
}

function getMousePos(canvas, event) {
  var rect = canvas.getBoundingClientRect();
  return {
    x: event.clientX - rect.left,
    y: event.clientY - rect.top
  };
}

function openPopUpCenter(section) {
  var uri = window.location.href.split("&")[0];
  if(window.location.search !== ""){
    window.location = uri + "&section=" + section + "#section-" + section;
  }
}

function RemoveLastDirectoryPartOf(the_url)
{
    var the_arr = the_url.split('/');
    the_arr.pop();
    return( the_arr.join('/') );
}

canvas.addEventListener('click', function(e) {
  var mousePos = getMousePos(canvas, e);
  mousePos.x /= scaleX;
  mousePos.y /= scaleY;
  if (isInside(mousePos,rect) && !buttonClicked) {
      drawTimer();
      draw(percent, path);
      buttonClicked = true;
  }else{
        console.log('clicked outside rect');
  }	
}, false);

document.onkeydown = keyEvents;

function lastStep(nextPath){
  changePath(0, 1, nextPath);
  draw(0, path);
  animationComplete = true;
}

function saveVars(nextPath){
  lastStep(nextPath);
  if(window.sessionStorage){
    window.sessionStorage.path = JSON.stringify(path);
    window.sessionStorage.pathPrev = JSON.stringify(pathPrev);
    window.sessionStorage.buttonClicked = JSON.stringify(buttonClicked);
  }
}

function getVars(){
  try {
    path = JSON.parse(window.sessionStorage.path);
    pathPrev = JSON.parse(window.sessionStorage.pathPrev);
    buttonClicked = JSON.parse(window.sessionStorage.buttonClicked);
  } catch (e){
    path = lastPath;
    pathPrev = lastPath - 1;
    buttonClicked = false;
  }
}

function reset () {
  lastPath = 0;
  percent = 0;
  getLastPath();
  getVars();
  colorPaths();
}

function getLastPath(){
  lastPath = 1;
  if(completions.length > 0){
    lastPath = 9;
    if(assignments.length > 0){
      for (var i = 0; i < 10; i++) {
        if (assignments[i] === completions[i]) {
          lastPath = i + 1;
        }
     }
    }
  } 
  if(lastPath > 4) lastPath++;
}

function getAssignments(activities){
  return activities.filter(function(obj){ return obj.modulename != "mapa Activity";});
}

function getSites(activities){
  activities = getAssignments(activities);
  sites = activities.map(function(obj){return {url: obj.url, section: obj.section};});
}

function getSections(old, newArray){
  for( var i = 0; i < 10; i++){
    newArray.push(old.filter(function (value) {
      return value.section === i;
    }).length);
  }
}

function getURLParameter(name) {
  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(window.location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
}

function getTime(dateFuture){
  var dateNow = new Date();
  var seconds = Math.floor((dateFuture - (dateNow))/1000);
  var minutes = Math.floor(seconds/60);
  var hours = Math.floor(minutes/60);
  var days = Math.floor(hours/24);
  if(seconds < 1){
    return {days : 0, hours: 0, minutes: 0};
  }
  hours = hours-(days*24);
  minutes = minutes-(days*24*60)-(hours*60);
  seconds = seconds-(days*24*60*60)-(hours*60*60)-(minutes*60);

  return {days, hours, minutes, seconds};
}

function start (imageUrl, sections, grades, timer){
  timeRemaining = parseInt(timer.timeend, 10) * 1000;
  console.log({grades, sections, timer, timeRemaining});
  activities = sections['complete'].concat(sections['incomplete']);
  console.log(activities);
  imageUrl = RemoveLastDirectoryPartOf(imageUrl);
  if(sections) {
    getSections(sections['complete'], completions);
    incompletions = getAssignments(sections['incomplete']);
  }
  if(activities){
    getSites(activities);
    getSections(sites, assignments);
  }
  userGrade = grades.reduce(function (acc, obj) { return acc + obj.userGrade; }, 0);
  maxGrade = grades.reduce(function (acc, obj) { return acc + obj.maxGrade; }, 0);
  reset();
  var sectionPage = getURLParameter('section');
  var id = 2;
  $("#section-" + id).hide();
  console.log({grades, sections, activities, userGrade, maxGrade, imageUrl, sectionPage});
  playButton = document.createElement("img");
  playButton.src = imageUrl + '/start';
  sprite = document.createElement("img");
  sprite.src = imageUrl + '/sprite';
  sprite.onload = function() {
    spriteLoaded = true;
    if(buttonClicked){
      drawTimer();
      draw(percent, path);
    }
  };
  playButton.onload = function () {
    if(!buttonClicked)
    ctx.drawImage(playButton, rect.x, rect.y);
  };
}
   
      return {
          init: start('{{imageUrl}}',{{#completions}}
          {
          complete:[{{#complete}}{
            section:{{#section}}{{.}}{{/section}}{{^section}}0{{/section}},
            completion:{{#completion}}'{{.}}'{{/completion}}{{^completion}}'0'{{/completion}},
            grade:{{#grade}}{{.}}{{/grade}}{{^grade}}0{{/grade}},
            passGrade:{{#passGrade}}{{.}}{{/passGrade}}{{^passGrade}}0{{/passGrade}},
            url:{{#url}}'{{.}}'{{/url}}{{^url}}''{{/url}}
          },{{/complete}}{{^complete}}{{/complete}}],
          incomplete:[{{#incomplete}}{
            section:{{#section}}{{.}}{{/section}}{{^section}}0{{/section}},
            completion:{{#completion}}'{{.}}'{{/completion}}{{^completion}}'0'{{/completion}},
            grade:{{#grade}}{{.}}{{/grade}}{{^grade}}0{{/grade}},
            passGrade:{{#passGrade}}{{.}}{{/passGrade}}{{^passGrade}}0{{/passGrade}},
            url:{{#url}}'{{.}}'{{/url}}{{^url}}''{{/url}}
          },{{/incomplete}}{{^incomplete}}{{/incomplete}}]
          },
          {{/completions}}[{{#userGrades}}
          {
          section:{{#section}}{{.}}{{/section}}{{^section}}0{{/section}},
          passGrade:{{#passGrade}}{{.}}{{/passGrade}}{{^passGrade}}0{{/passGrade}},
          maxGrade:{{#maxGrade}}{{.}}{{/maxGrade}}{{^maxGrade}}0{{/maxGrade}},
          userGrade:{{#userGrade}}{{.}}{{/userGrade}}{{^userGrade}}0{{/userGrade}}
          },{{/userGrades}}]{{^userGrade}}{{/userGrade}},
          {{#timer}}
          {
            timestart:{{#timestart}}{{.}}{{/timestart}},
            timeend:{{#timeend}}{{.}}{{/timeend}},
          }{{/timer}}{{^timer}}{{/timer}}),
      };
  });
{{/js}}