<div class="form-group row  fitem   ">
    <div class="col-md-3">
        <span class="float-sm-right text-nowrap"> </span>
        <label class="col-form-label d-inline " for="id_unilabeltype_carousel_background">
            {{label}}
        </label>
    </div>

    <div class="col-md-9 form-inline felement" data-fieldtype="text">
        <div class="form-colourpicker defaultsnext">
            <div class="admin_colourpicker clearfix">
                <!-- <img alt="" class="colourdialogue" src="http://localhost/grabs-edv2/theme/image.php/boost/core/1533237892/i/colourpicker"> -->
                <img alt="" class="colourdialogue" src="{{{iconurl}}}">
                <div class="previewcolour" style="width: 50px; height: 50px; background-color: rgb(137, 27, 0);"></div>
                <div class="currentcolour" style="width: 50px; height: 49px; background-color: rgb(58, 69, 75);"></div>
            </div>
            <input name="{{inputname}}" id="{{inputid}}" value="{{{defaultvalue}}}" size="12" class="form-control text-ltr" type="text">
            <span>{{defaultvalue}}</span>
        </div>
    </div>
</div>
