{{#showintro}}
    {{{intro}}}
{{/showintro}}
{{#hastiles}}
    <div class="row mx-0">
        {{#tiles}}
            <div class="text-center {{{colclasses}}} py-4">
                <!-- The overlay is used as button to show the modal dialog -->
                {{#url}}
                    <a href="{{{url}}}">
                        <div class="unilabel-overlay-effect bg-primary h-100 w-100"></div>
                    </a>
                {{/url}}
                {{^url}}
                    <a href="#" data-toggle="modal" data-target="#grid-modal-{{cmid}}-{{nr}}">
                        <div class="unilabel-overlay-effect bg-primary h-100 w-100"></div>
                    </a>
                {{/url}}
                {{^autoheight}}<div style="height:{{{height}}}px;width:100%;">{{/autoheight}}

                {{#imagemobileurl}}
                    <img class="img-fluid d-none d-md-inline" src="{{{imageurl}}}"{{^autoheight}} style="height:100%;object-fit:contain;"{{/autoheight}}/>
                    <img class="img-fluid d-inline d-md-none" src="{{{imagemobileurl}}}"{{^autoheight}} style="height:100%;object-fit:contain;"{{/autoheight}}/>
                {{/imagemobileurl}}
                {{^imagemobileurl}}
                    <img class="img-fluid" src="{{{imageurl}}}"{{^autoheight}} style="height:100%;object-fit:contain;"{{/autoheight}}/>
                {{/imagemobileurl}}

                {{^autoheight}}</div>{{/autoheight}}
                <h5>{{title}}</h5>
            </div>
        {{/tiles}}
    </div>

    {{#tiles}}
        {{^url}}
            {{> unilabeltype_grid/dialog }}
        {{/url}}
    {{/tiles}}
{{/hastiles}}
{{^hastiles}}
<span>{{#str}} nocontent , unilabeltype_grid {{/str}}</span>
{{/hastiles}}

{{#extracss}}
<style type="text/css">
/***********************************************/
/*
 This is a workaround for a five-column grid.
 We have to put it here because in <plugin>/styles.css it is loaded before bootstrap and overriden.
*/
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 576px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 768px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 992px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
/***********************************************/
</style>
{{/extracss}}
